[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"

[packages]
ipython = "*"
ipykernel = "*"
beautifulsoup4 = "*"
fake-useragent = "*"
matplotlib = "*"
mypy = "*"
numpy = ">=1.17.4"
opencv-python = "*"
pandas = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
scikit-fuzzy = "*"
sklearn = "*"
sympy = "*"
Pillow = "*"
tensorflow = "*"
pyjanitor = "*"
moviepy = "*"
imageio-ffmpeg = "*"
scipy = "*"
torch = "*"
jupyterlab = "*"
seaborn = "*"
category-encoders = "*"
missingno = "*"
plotly = "*"
pandas-profiling = "*"
eli5 = "*"
squarify = "*"
spacy = "==2.2.4"
nltk = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
