-i https://pypi.org/simple
appnope==0.1.0 ; sys_platform == 'darwin'
attrs==19.3.0
backcall==0.1.0
bcrypt==3.1.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
clize==4.1.1
coverage==5.0.4
cycler==0.10.0
decorator==4.4.2
docutils==0.16
flask-shell-ipython==0.4.1
flask==1.1.2
idna==2.9
importlib-metadata==1.6.0 ; python_version < '3.8'
ipykernel==5.2.0
ipython-genutils==0.2.0
ipython==7.13.0
itsdangerous==1.1.0
jedi==0.16.0
jinja2==3.0.0a1
jupyter-client==6.1.2
jupyter-core==4.6.3
kiwisolver==1.2.0
markupsafe==1.1.1
matplotlib==3.2.1
more-itertools==8.2.0
numpy==1.18.2
od==1.0
packaging==20.3
pandas==1.0.3
parso==0.6.2
pexpect==4.8.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.8.1
pycparser==2.20
pygments==2.6.1
pyparsing==3.0.0a1
pytest-cov==2.8.1
pytest==5.4.1
python-dateutil==2.8.1
pytz==2019.3
pyzmq==19.0.0
requests==2.23.0
sigtools==2.0.2
six==1.14.0
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.9
werkzeug==1.0.1
zipp==3.1.0
