[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
beautifulsoup4 = "*"
black = "*"
fake-useragent = "*"
flake8 = "*"
matplotlib = "*"
mypy = "*"
numpy = ">=1.17.4"
opencv-python = "*"
pandas = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
scikit-fuzzy = "*"
sklearn = "*"
sympy = "*"
tensorflow = "*"
Pillow = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
